* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#259fd8, #313744);
}

#chess-board {
  box-shadow: 0 0 10px rgba(61, 61, 61, 0.3215686275);
  border-radius: 20px;
  border-collapse: collapse;
}
#chess-board tr:nth-child(odd) td:nth-child(even), #chess-board tr:nth-child(even) td:nth-child(odd) {
  background-color: rgba(77, 38, 26, 0.2666666667);
}
#chess-board tr:nth-child(odd) td:nth-child(odd), #chess-board tr:nth-child(even) td:nth-child(even) {
  background-color: rgba(233, 241, 241, 0.3411764706);
}
#chess-board tr:first-child td:first-child {
  border-top-left-radius: 20px;
}
#chess-board tr:first-child td:last-child {
  border-top-right-radius: 20px;
}
#chess-board tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}
#chess-board tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}
#chess-board td {
  height: 60px;
  width: 60px;
}
#chess-board td div {
  height: 100%;
  width: 100%;
}

.white,
.black {
  padding: 10px;
}
.white div,
.black div {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.white div:hover,
.black div:hover {
  cursor: pointer;
}

.highlight {
  box-shadow: inset 0 0 15px #ffffff !important;
  background-color: rgba(233, 241, 241, 0.3960784314) !important;
}

.highlight.highlight-2 {
  background-color: rgba(233, 241, 241, 0.3960784314) !important;
}

.highlight-1 {
  padding: 22px;
  cursor: pointer;
}
.highlight-1 div {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.6039215686);
}
.highlight-1:hover div {
  background-color: white;
}

.highlight-2 {
  box-shadow: inset 0 0 15px rgba(236, 7, 64, 0.7137254902);
  background-color: rgba(216, 37, 82, 0.7450980392) !important;
}

td.black.pawn div {
  background-image: url("../assets/b_pawn.png ");
}

td.black.rook div {
  background-image: url("../assets/b_rook.png ");
}

td.black.knight div {
  background-image: url("../assets/b_knight.png ");
}

td.black.bishop div {
  background-image: url("../assets/b_bishop.png ");
}

td.black.queen div {
  background-image: url("../assets/b_queen.png ");
}

td.black.king div {
  background-image: url("../assets/b_king.png ");
}

td.white.pawn div {
  background-image: url("../assets/w_pawn.png ");
}

td.white.rook div {
  background-image: url("../assets/w_rook.png ");
}

td.white.knight div {
  background-image: url("../assets/w_knight.png ");
}

td.white.bishop div {
  background-image: url("../assets/w_bishop.png ");
}

td.white.queen div {
  background-image: url("../assets/w_queen.png ");
}

td.white.king div {
  background-image: url("../assets/w_king.png ");
}