* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(#259fd8, #313744);
  transition: 0.2s;
}

#right-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 25px;
  padding: 1rem;
  border-radius: 20px;
  background-color: rgba(233, 241, 241, 0.3411764706);
}
@media (max-width: 725px) {
  #right-panel {
    position: relative;
    right: 0;
    margin-top: 3rem;
    flex-direction: row;
  }
}
#right-panel .option {
  margin: 1.2rem 0;
  font-weight: bold;
  text-align: center;
  color: #f5f5f5;
  background: none;
  border: none;
  cursor: pointer;
}
#right-panel .option:hover img {
  transform: scale(1.4);
}
@media (max-width: 725px) {
  #right-panel .option {
    margin: 0 1.2rem;
  }
}
#right-panel a {
  text-decoration: none;
  font-family: bold;
  color: #f5f5f5;
}
#right-panel img {
  width: 20px;
  margin-bottom: 0.3rem;
  transition: 0.2s;
}

#chess-board {
  box-shadow: 0 0 10px rgba(61, 61, 61, 0.3215686275);
  border-radius: 20px;
  border-collapse: collapse;
}
#chess-board tr:nth-child(odd) td:nth-child(even), #chess-board tr:nth-child(even) td:nth-child(odd) {
  background-color: rgba(77, 38, 26, 0.2666666667);
}
#chess-board tr:nth-child(odd) td:nth-child(odd), #chess-board tr:nth-child(even) td:nth-child(even) {
  background-color: rgba(233, 241, 241, 0.3411764706);
}
#chess-board tr:first-child td:first-child {
  border-top-left-radius: 20px;
}
#chess-board tr:first-child td:last-child {
  border-top-right-radius: 20px;
}
#chess-board tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}
#chess-board tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}
#chess-board td {
  height: 55px;
  width: 55px;
}
@media (max-width: 725px) {
  #chess-board td {
    height: 45px;
    width: 45px;
  }
}
#chess-board td div {
  height: 100%;
  width: 100%;
}

.white,
.black {
  padding: 10px;
}
.white div,
.black div {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: appear 0.5s;
          animation: appear 0.5s;
}
.white div:hover,
.black div:hover {
  cursor: pointer;
}

.highlight {
  box-shadow: inset 0 0 15px #ffffff !important;
  background-color: rgba(233, 241, 241, 0.3960784314) !important;
}

.highlight.highlight-2 {
  background-color: rgba(233, 241, 241, 0.3960784314) !important;
}

.highlight-1 {
  padding: 20px;
  cursor: pointer;
}
.highlight-1:hover div {
  transition: 0.2s;
  transform: scale(1.3);
  background-color: white;
}
@media (max-width: 725px) {
  .highlight-1 {
    padding: 16px;
  }
}
.highlight-1 div {
  -webkit-animation: pop 0.25s;
          animation: pop 0.25s;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.6039215686);
}

.highlight-2 {
  transition: 0.3s;
  box-shadow: inset 0 0 15px rgba(236, 7, 64, 0.7137254902);
  background-color: rgba(216, 37, 82, 0.7450980392) !important;
}

@-webkit-keyframes pop {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes pop {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.blur {
  filter: blur(10px) brightness(60%);
  transform: scale(1.1);
}

.popup-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: none;
  position: absolute;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  -webkit-animation: appear 0.2s;
          animation: appear 0.2s;
}

.popup-screen.visible {
  display: flex;
}

.popup {
  padding: 2rem;
  width: 375px;
  height: 275px;
  border-radius: 15px;
  box-shadow: inset 0px 0 1px #ffffff;
  background-color: rgba(215, 222, 223, 0.3019607843);
}

.popup.victory {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popup.victory img {
  margin: 1.5rem 0;
  height: 100px;
}
.popup.victory div {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffd064;
}
.popup.victory .white {
  color: #ffffff;
}
.popup.victory .black {
  color: #121212;
}

.popup.promotion .text {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}
.popup.promotion .grid-container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto;
}
.popup.promotion .grid-container div {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}
.popup.promotion .grid-container img {
  height: 100px;
  width: 100px;
  padding: 1rem;
  cursor: pointer;
}

td.black.pawn div {
  background-image: url("../assets/b_pawn.png ");
}

td.black.rook div {
  background-image: url("../assets/b_rook.png ");
}

td.black.knight div {
  background-image: url("../assets/b_knight.png ");
}

td.black.bishop div {
  background-image: url("../assets/b_bishop.png ");
}

td.black.queen div {
  background-image: url("../assets/b_queen.png ");
}

td.black.king div {
  background-image: url("../assets/b_king.png ");
}

td.white.pawn div {
  background-image: url("../assets/w_pawn.png ");
}

td.white.rook div {
  background-image: url("../assets/w_rook.png ");
}

td.white.knight div {
  background-image: url("../assets/w_knight.png ");
}

td.white.bishop div {
  background-image: url("../assets/w_bishop.png ");
}

td.white.queen div {
  background-image: url("../assets/w_queen.png ");
}

td.white.king div {
  background-image: url("../assets/w_king.png ");
}