@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow: hidden;
}

#root {
    @include flexCenter(column);
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(#259fd8, #313744);
    transition: 0.2s;
}

#right-panel {
    @include flexCenter(column);
    position: absolute;
    right: 25px;
    padding: 1rem;
    border-radius: 20px;
    background-color: #e9f1f157;

    @media (max-width: 725px) {
        position: relative;
        right: 0;
        margin-top: 3rem;
        flex-direction: row;
    }

    .option {
        margin: 1.2rem 0;
        font-weight: bold;
        text-align: center;
        color: #f5f5f5;
        background: none;
        border: none;
        cursor: pointer;

        &:hover img {
            transform: scale(1.4);
        }

        @media (max-width: 725px) {
            margin: 0 1.2rem;
        }
    }

    a {
        text-decoration: none;
        font-family: bold;
        color: #f5f5f5;
    }

    img {
        width: 20px;
        margin-bottom: 0.3rem;
        transition: 0.2s;
    }
}

#chess-board {
    box-shadow: 0 0 10px #3d3d3d52;
    border-radius: 20px;
    border-collapse: collapse;

    tr {
        // create the chessboard pattern
        &:nth-child(odd) td:nth-child(even),
        &:nth-child(even) td:nth-child(odd) {
            background-color: #4d261a44;
        }

        &:nth-child(odd) td:nth-child(odd),
        &:nth-child(even) td:nth-child(even) {
            background-color: #e9f1f157;
        }

        &:first-child td {
            &:first-child {
                border-top-left-radius: 20px;
            }

            &:last-child {
                border-top-right-radius: 20px;
            }
        }

        &:last-child td {
            &:first-child {
                border-bottom-left-radius: 20px;
            }

            &:last-child {
                border-bottom-right-radius: 20px;
            }
        }
    }

    td {
        height: 55px;
        width: 55px;

        @media (max-width: 725px) {
            height: 45px;
            width: 45px;
        }

        div {
            height: 100%;
            width: 100%;
        }
    }
}

.white,
.black {
    padding: 10px;

    div {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        animation: appear 0.5s;

        &:hover {
            cursor: pointer;
        }
    }
}

.highlight {
    box-shadow: inset 0 0 15px #ffffff !important;
    background-color: #e9f1f165 !important;
}

.highlight.highlight-2 {
    background-color: #e9f1f165 !important;
}

.highlight-1 {
    padding: 20px;
    cursor: pointer;

    &:hover div {
        transition: 0.2s;
        transform: scale(1.3);
        background-color: #ffffffff;
    }

    @media (max-width: 725px) {
        padding: 16px;
    }

    div {
        animation: pop 0.25s;
        border-radius: 100%;
        background-color: #ffffff9a;
    }
}

.highlight-2 {
    transition: 0.3s;
    box-shadow: inset 0 0 15px #ec0740b6;
    background-color: #d82552be !important;
}

@keyframes pop {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.blur {
    filter: blur(10px) brightness(60%);
    transform: scale(1.1);
}

.popup-screen {
    @include flexCenter(row);
    display: none;
    position: absolute;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    animation: appear 0.2s;
}

.popup-screen.visible {
    display: flex;
}

.popup {
    padding: 2rem;
    width: 375px;
    height: 275px;
    border-radius: 15px;
    box-shadow: inset 0px 0 1px #ffffff;
    background-color: #d7dedf4d;
}

.popup.victory {
    @include flexCenter(column);

    img {
        margin: 1.5rem 0;
        height: 100px;
    }

    div {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ffd064;
    }

    .white {
        color: #ffffff;
    }

    .black {
        color: #121212;
    }
}

.popup.promotion {
    .text {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: #ffffff;
    }

    .grid-container {
        display: grid;
        justify-content: space-around;
        grid-template-columns: auto auto;

        div {
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
            color: #ffffff;
        }

        img {
            height: 100px;
            width: 100px;
            padding: 1rem;
            cursor: pointer;
        }
    }
}

// pieces as background images
td.black.pawn div {
    background-image: url("../assets/b_pawn.png ");
}

td.black.rook div {
    background-image: url("../assets/b_rook.png ");
}

td.black.knight div {
    background-image: url("../assets/b_knight.png ");
}

td.black.bishop div {
    background-image: url("../assets/b_bishop.png ");
}

td.black.queen div {
    background-image: url("../assets/b_queen.png ");
}

td.black.king div {
    background-image: url("../assets/b_king.png ");
}

td.white.pawn div {
    background-image: url("../assets/w_pawn.png ");
}

td.white.rook div {
    background-image: url("../assets/w_rook.png ");
}

td.white.knight div {
    background-image: url("../assets/w_knight.png ");
}

td.white.bishop div {
    background-image: url("../assets/w_bishop.png ");
}

td.white.queen div {
    background-image: url("../assets/w_queen.png ");
}

td.white.king div {
    background-image: url("../assets/w_king.png ");
}
