@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    @include flexCenter(row);
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(#259fd8, #313744);
}

#chess-board {
    box-shadow: 0 0 10px #3d3d3d52;
    border-radius: 20px;
    border-collapse: collapse;

    tr {
        // create the chessboard pattern
        &:nth-child(odd) td:nth-child(even),
        &:nth-child(even) td:nth-child(odd) {
            background-color: #4d261a44;
        }

        &:nth-child(odd) td:nth-child(odd),
        &:nth-child(even) td:nth-child(even) {
            background-color: #e9f1f157;
        }

        &:first-child td {
            &:first-child {
                border-top-left-radius: 20px;
            }

            &:last-child {
                border-top-right-radius: 20px;
            }
        }

        &:last-child td {
            &:first-child {
                border-bottom-left-radius: 20px;
            }

            &:last-child {
                border-bottom-right-radius: 20px;
            }
        }
    }

    td {
        height: 60px;
        width: 60px;

        div {
            height: 100%;
            width: 100%;
        }
    }
}

.white,
.black {
    padding: 10px;

    div {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        animation: appear 0.5s;

        &:hover {
            cursor: pointer;
        }
    }
}

.highlight {
    box-shadow: inset 0 0 15px #ffffff !important;
    background-color: #e9f1f165 !important;
}

.highlight.highlight-2 {
    background-color: #e9f1f165 !important;
}

.highlight-1 {
    padding: 22px;
    cursor: pointer;

    &:hover div {
        transition: 0.2s;
        transform: scale(1.3);
        background-color: #ffffffff;
    }

    div {
        animation: pop 0.25s;
        border-radius: 100%;
        background-color: #ffffff9a;
    }
}

.highlight-2 {
    transition: 0.3s;
    box-shadow: inset 0 0 15px #ec0740b6;
    background-color: #d82552be !important;
}

@keyframes pop {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#popup-screen {
    @include flexCenter(row);
    display: none;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    backdrop-filter: blur(10px) brightness(50%);
    animation: appear 0.1s;
}

#popup-screen.visible {
    display: flex;
}

#popup {
    @include flexCenter(column);
    padding: 2rem;
    min-width: 400px;
    min-height: 275px;
    border-radius: 15px;
    box-shadow: inset 0px 0 1px #ffffff;
    background-color: #d7dedf4d;

    img {
        margin: 1.5rem 0;
        height: 100px;
    }

    div {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ffd064;
    }

    .white {
        color: #ffffff;
    }

    .black {
        color: #000000;
    }
}

// pieces as background images
td.black.pawn div {
    background-image: url("../assets/b_pawn.png ");
}

td.black.rook div {
    background-image: url("../assets/b_rook.png ");
}

td.black.knight div {
    background-image: url("../assets/b_knight.png ");
}

td.black.bishop div {
    background-image: url("../assets/b_bishop.png ");
}

td.black.queen div {
    background-image: url("../assets/b_queen.png ");
}

td.black.king div {
    background-image: url("../assets/b_king.png ");
}

td.white.pawn div {
    background-image: url("../assets/w_pawn.png ");
}

td.white.rook div {
    background-image: url("../assets/w_rook.png ");
}

td.white.knight div {
    background-image: url("../assets/w_knight.png ");
}

td.white.bishop div {
    background-image: url("../assets/w_bishop.png ");
}

td.white.queen div {
    background-image: url("../assets/w_queen.png ");
}

td.white.king div {
    background-image: url("../assets/w_king.png ");
}
